<form [formGroup]="metadataForm">
  <div class="meta-data">
    <div class="item">
      <div class="txt">ID</div>
      <div>12334</div>
    </div>
    <div class="item">
      <div class="txt">Name</div>
      <div><input type="text" class="inputTxt" name="name" id="name" formControlName="name"> </div>
    </div>
    <div class="item">
      <div class="txt">Description</div>
      <div><textarea rows="5" name="description" id="description" formControlName="description"></textarea></div>
    </div>
    <div class="item">
      <div class="txt">Reference ID</div>
      <div><input type="text" class="inputTxt" ame="referenceID" id="referenceID" formControlName="referenceID"></div>
    </div>
    <div class="item section">
      <div class="txt ">
        <span> isValid : {{ isValid }}, isDirty : {{ isDirty }} </span></div>
    </div>
  </div>
</form>
