<form [formGroup]="metadataForm">
  <div class="meta-data">
    <div class="item">
      <div class="txt">ID</div>
      <div> {{entry?.id}} </div>
    </div>
    <div class="item">
      <div class="txt">Name</div>
      <div><input type="text" class="inputTxt" formControlName="name"> </div>
    </div>
    <div class="item">
      <div class="txt">Description</div>
      <div><textarea rows="5" formControlName="description"></textarea></div>
    </div>
    <div class="item">
      <div class="txt">Reference ID</div>
      <div><input type="text" class="inputTxt" formControlName="referenceID" ></div>
    </div>
  </div>
</form>
