<div class="preview">
  <div class="item">
    <div class="player">
      <div class="upload">
        <button><span class="kIconupload">Upload</span></button>
      </div>
    </div>
    <div class="player ">
      <div class="previewItem">
        <span class="kIconshare share"></span>
        <span> preview & Embed</span>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="itemDetails section">
      <div class="title">Details</div>
    </div>
    <div class="itemDetails">
      <div class="txt">Creator</div>
      <div>{{entry.creatorId}}</div>
    </div>
    <div class="itemDetails">
      <div class="txt">Creation date</div>
      <div>{{entry.createdAt | date}}</div>
    </div>
    <div class="itemDetails">
      <div class="txt">Type</div>
      <div></div>
    </div>
    <div class="itemDetails">
      <div class="txt">Duration</div>
      <div></div>
    </div>
    <div class="itemDetails">
      <div class="txt">Moderation</div>
      <div>{{entry.moderationStatus}}</div>
    </div>
    <div class="itemDetails">
      <div class="txt">Plays</div>
      <div></div>
    </div>
  </div>
</div>
