  @import "../../_variables.scss";
  @import "../../_mixins.scss";
  /* CONTENT RIGHT */

  .content_right {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    padding: 15px;
    margin-left: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: $layout_borders_color;
    background: $white;
    .content_right_top {
      display: flex;
      flex-direction: column;
      flex: 0 0 250px;
      border-style: solid;
      border-width: 2px;
      border-color: $layout_borders_color;
      .player {
        flex: 0 0 200px;
        background: $black;
      }
      .player_info {
        padding: 15px;
      }
      .player_info span {
        padding: 5px;
      }
      .kIconshare {
        color: $grey;
      }
    }
    .content_right_bottom {
      display: flex;
      flex-direction: column;
      flex: 0 0 300px;
      border-style: solid;
      border-width: 2px;
      border-color: $layout_borders_color;
    }
    .content_right_bottom_row {
      display: flex;
      flex-direction: row;
      padding: 10px;
      .content_param {
        flex: 0 0 100px;
        color: $grey;
      }
      .content_param.header_details {
        font-size: 18px;
        font-weight: bold;
        color: $black;
      }
    }
  }
