<div class="content_right">

  <div class="content_right_top">
    <div class="player"></div>
    <div class="player_info">
      <span class="kIconshare"></span>
      <span>Preview &amp; Embed</span>
    </div>

  </div>
  <div class="content_right_bottom">

    <div class="content_right_bottom_row">
      <span class="content_param header_details">Details</span>
    </div>

    <div class="content_right_bottom_row">
      <span class="content_param">Creator</span>
      <span class="content_value">Patrick</span>
    </div>

    <div class="content_right_bottom_row">
      <span class="content_param">Creator date</span>
      <span class="content_value">10/11/2016</span>
    </div>

    <div class="content_right_bottom_row">
      <span class="content_param">Type</span>
      <span class="content_value">Video</span>
    </div>

    <div class="content_right_bottom_row">
      <span class="content_param">Duration</span>
      <span class="content_value">-</span>
    </div>

    <div class="content_right_bottom_row">
      <span class="content_param">Moderation</span>
      <span class="content_value">Pending</span>
    </div>

    <div class="content_right_bottom_row">
      <span class="content_param">Plays</span>
      <span class="content_value">-</span>
    </div>
  </div>

</div>
