
    <div class="kEntries kOverrideFAIcons">
        <div #entriesTableHolder class="kEntriesHolder kContent">
            <div class="kEntriesTableFilters">

                <span class="kSelectedEntriesNum" *ngIf="totalEntriesCount">{{ totalEntriesCount }} Entries</span>

                <div class="kFilters">
                    <input type="text" class="kSearchInput"
                           pInputText
                           placeholder="Search Entries">
                    <button pButton class="kButtonDefault kRefreshBtn small" type="text" (click)="_reload()"
                            icon="kIconrefresh" [kTooltip]="'Reload'"></button>
                </div>

            </div>
            <!-- Task 3.1 - wrap this element with 'k-area-block' and bind [showLoader] and [message] to relevant properties -->

            <div class="kEntriesTable">
                <p-dataTable #dataTable [value]="entries"
                             scrollable="true" scrollHeight="100%">
                    <p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
                    <p-column field="thumbnailUrl" header="thumbnail" [style]="{'width':'100px'}">
                        <ng-template let-col let-entry="rowData" pTemplate="body">
                            <div class="kThumbnailHolder"
                                 ><img
                                    src="{{entry[col.field]}}" onError="this.onerror=null;this.style.display='none'">
                            </div>
                        </ng-template>
                    </p-column>
                    <!-- Task 3.1 bind the content of this column to 'openEntry(entry.id)'
                            note, you will need to use similar solution of the 'ng-template' approach as done in other columns
                             -->
                    <p-column field="name" header="name" [sortable]="'custom'">
                    </p-column>
                    <p-column field="id" header="ID" [sortable]="false" [style]="{'width':'100px'}"></p-column>
                    <p-column field="mediaType" header="type" [sortable]="'custom'"
                              [style]="{'width':'80px', 'text-align': 'center'}">
                        <ng-template let-col let-entry="rowData" pTemplate="body">
                            <div [kTooltip]="entry[col.field]"></div>
                        </ng-template>
                    </p-column>
                    <p-column field="plays" header="plays" [sortable]="'custom'" [style]="{'width':'76px'}"></p-column>
                    <!-- Task 3.1 use 'date' pipe on the column content
                           note, you will need to use similar solution of the 'ng-template' approach as done in other columns
                            -->
                    <p-column field="createdAt" header="Created On" [sortable]="true" [style]="{'width':'140px'}">
                    </p-column>
                    <p-column header="" [style]="{'overflow':'visible', 'width':'80px'}">
                        <ng-template let-col let-entry="rowData" pTemplate="body">
                            <div class="kEntriesTableActions">
                                <button type="button" pButton icon="kIconmore"></button>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>


