  @import "../../_variables.scss";
  @import "../../_mixins.scss";
  /* CONTENT MIDDLE */

  .content_middle {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 15px 0;
    border-style: solid;
    border-width: 2px;
    border-color: $layout_borders_color;
    background: $white;
    .content_row {
      display: flex;
      align-items: center;
      margin: 10px 30px;
      .content_param {
        flex: 0 0 180px;
      }
      .content_param_headline {
        font-weight: bold;
        font-size: 18px;
      }
      .content_value {
        flex: 0 0 300px;
      }
      input[type=text] {
        height: 30px;
        background: $input_background_color;
        border: none;
        @include roundCorner($corner_radius);
        .ng-invalid {
          border: $red;
          border-style: solid;
          border-width: 2px;
        }
      }
      input[type=text].disabled {
        background: $white;
      }
      
      textarea {
        height: 100px;
        background: $input_background_color;
        padding: 0;
        border: none;
        @include roundCorner($corner_radius);
        resize: none;
      }
      .checkbox {
        margin-right: 24px;
      }
      .link {
        text-decoration: underline;
        &:hover {
          background-color: red;
        }
      }
    }
  }
