<form class="content_middle" [formGroup]="form">

  <div class="content_row">
    <span class="content_param">ID</span>
    <!--<span class="content_value" formControlName="id">o_sdasdasd</span>-->
    <input formControlName="id" class="content_value disabled" formControlName="id" type="text" name="id">

  </div>

  <div class="content_row">
    <span class="content_param">Name</span>
    <input class="content_value" formControlName="name" type="text" name="Name">
  </div>

  <div class="content_row">
    <span class="content_param">Description</span>
    <textarea formControlName="description" class="content_value"></textarea>
  </div>

  <!--<div class="content_row">
    <span class="content_param">Tags</span>
    <input class="content_value" type="text" name="Tags">
  </div>

  <div class="content_row">
    <span class="content_param">Categories</span>
    <input class="content_value" type="text" name="Categories">
  </div>

  <div class="content_row">
    <span class="content_param"></span>
    <span class="content_value link"><a href="">Browse category</a></span>
  </div>-->

  <div class="content_row">
    <span class="content_param">Reference ID</span>
    <input formControlName="referenceId" class="content_value" type="text" name="ReferenceID">
  </div>

  <!--<div class="content_row">
    <span class="content_param content_param_headline">Parental control</span>
  </div>

  <div class="content_row">
    <span class="content_param">Rating</span>
    <label class="checkbox">
            <input type="checkbox" name="R" value="R">
            R
          </label>

    <label class="checkbox">
            <input type="checkbox" name="PG" value="PG">
            PG
          </label>

    <label class="checkbox"> 
            <input type="checkbox" name="PG-13" value="PG-13">
            PG-13
          </label>

    <label class="checkbox">
            <input type="checkbox" name="NC-17" value="NC-17">
            NC-17
          </label>

  </div>

  <div class="content_row">
    <span class="content_param content_param_headline">Entry Additional Info</span>
  </div>


  <div class="content_row">
    <span class="content_param">Key</span>
    <input class="content_value" type="text" name="Key">
  </div>-->
  <span> {{ form.value | json }}, isDirty : {{ form.dirty }} </span>
</form>
