<div class="asideLeft">
  <div class="item active">
    <span>Metadata</span>
  </div>
  <div class="item">
    <span>Thumbnails</span>
  </div>
  <div class="item">
    <span>Access control</span>
  </div>
  <div class="item">
    <span>Flavors</span>
  </div>
  <div class="item">
    <span>Distribution</span>
  </div>
  <div class="item">
    <span>Captions</span>
  </div>
  <div class="item">
    <span>Advertisements</span>
  </div>
  <div class="item">
    <span>Related Files</span>
  </div>
  <div class="item">
    <span>Users</span>
  </div>
  <div class="item">
    <span>Trim videos</span>
  </div>
</div>
