$mainBackgroundColor : #F6F7F9;
$borderColor: #E5e5e5;
$textareaBackgroundColor : #eeeeee;
$activeBackgroundColor: #f6f6f6;
$asideBackgroundColor: white;
$uploadBackgroundColor: black;
$txtBackgroundColor: grey;
$buttonBackgroundColor: #f6f7f9;
