<div class="main">
  <div class="item">
    <div class="txt">ID</div>
    <div>12334</div>
  </div>
  <div class="item">
    <div class="txt">Name</div>
    <div><input type="text" class="inputTxt"></div>
  </div>
  <div class="item">
    <div class="txt">Description</div>
    <div><textarea rows="5"></textarea></div>
  </div>
  <div class="item">
    <div class="txt">Tags</div>
    <div><input type="text" class="inputTxt"></div>
  </div>
  <div class="item">
    <div class="txt">Categories</div>
    <div><input type="text" class="inputTxt"></div>
  </div>
  <div class="item">
    <div class="browse"><a class="hyperlink" href="">Browse category</a></div>
  </div>
  <div class="item">
    <div class="txt">Reference ID</div>
    <div><input type="text" class="inputTxt"></div>
  </div>
  <div class="item section">
    <div class="title">Parenatal Control</div>
  </div>
  <div class="item">
    <div class="txt">Rating</div>
    <div class="checkBoxItem">
      <label>
              <input type="checkbox" >R
            </label>
    </div>
    <div class="checkBoxItem">
      <label>
              <input type="checkbox" >PG
            </label>
    </div>
    <div class="checkBoxItem">
      <label>
              <input type="checkbox" >PG-13
            </label>
    </div>
    <div class="checkBoxItem">
      <label>
              <input type="checkbox">NC-17
            </label>
    </div>
  </div>
  <div class="item section">
    <div class="title">Entry Additional Info</div>
  </div>
  <div class="item">
    <div class="txt">Key</div>
    <div><input type="text" class="inputTxt"></div>
  </div>
</div>
