<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <div class="wrapper">

    <!-- top -->
    <div class="header">

      <div class="header_left">
        <span class="kIconarrow_backward backBtn"></span>
        <span class="kIconvideo"></span>
        <span>Untitled</span>
      </div>

      <div class="header_right">
        <button class="save_button">Save</button>
        <button> <span class="kIconarrow_backward"></span></button>
        <button> <span class="kIconarrow_forward"></span></button>
      </div>

    </div>

    <!-- middle -->
    <div class="content">

      <div class="content_left">
        <div class="item active">
          <span>Metadata</span>
        </div>
        <div class="item">
          <span>Thumbnails</span>
        </div>
        <div class="item">
          <span>Access control</span>
        </div>
        <div class="item">
          <span>Scheduling</span>
        </div>
        <div class="item">
          <span>Flavors</span>
        </div>
        <div class="item">
          <span>Distribution</span>
        </div>
        <div class="item">
          <span>Captions</span>
        </div>
        <div class="item">
          <span>Advertisements</span>
        </div>
        <div class="item">
          <span>Related</span>
        </div>
        <div class="item">
          <span>Related Files</span>
        </div>
        <div class="item">
          <span>Users</span>
        </div>
        <div class="item">
          <span>Trim videos</span>
        </div>

      </div>

      <div class="content_middle">

        <button class="jumpto">Jump to<span class="kIcondropdown_arrow_bottom"></span></button>

        <div class="content_row">
          <span class="content_param">ID</span>
          <span class="content_value">o_sdasdasd</span>

        </div>

        <div class="content_row">
          <span class="content_param">Name</span>
          <input class="content_value" type="text" name="Name">
        </div>

        <div class="content_row">
          <span class="content_param">Description</span>
          <textarea class="content_value"></textarea>
        </div>

        <div class="content_row">
          <span class="content_param">Tags</span>
          <input class="content_value" type="text" name="Tags">
        </div>

        <div class="content_row">
          <span class="content_param">Categories</span>
          <input class="content_value" type="text" name="Categories">
        </div>

        <div class="content_row">
          <span class="content_param"></span>
          <span class="content_value underline">Browse categories</span>
        </div>

        <div class="content_row">
          <span class="content_param">Reference ID</span>
          <input class="content_value" type="text" name="ReferenceID">
        </div>

        <div class="content_row">
          <span class="content_param content_param_headline">Parental control</span>
        </div>

        <div class="content_row">
          <span class="content_param">Rating</span>
          <label class="checkbox">
            <input type="checkbox" name="R" value="R">
            R
          </label>

          <label class="checkbox">
            <input type="checkbox" name="PG" value="PG">
            PG
          </label>

          <label class="checkbox"> 
            <input type="checkbox" name="PG-13" value="PG-13">
            PG-13
          </label>

          <label class="checkbox">
            <input type="checkbox" name="NC-17" value="NC-17">
            NC-17
          </label>

        </div>

        <div class="content_row">
          <span class="content_param content_param_headline">Entry Additional Info</span>
        </div>


        <div class="content_row">
          <span class="content_param">Key</span>
          <input class="content_value" type="text" name="Key">
        </div>

      </div>

      <div class="content_right">

        <div class="content_right_top">
          <div class="player"></div>
          <div class="player_info">
            <span class="kIconshare"></span>
            <span>Preview &amp; Embed</span>
          </div>

        </div>
        <div class="content_right_bottom">

          <div class="content_right_bottom_row">
            <span class="content_param header_details">Details</span>
          </div>

          <div class="content_right_bottom_row">
            <span class="content_param">Creator</span>
            <span class="content_value">Patrick</span>
          </div>

          <div class="content_right_bottom_row">
            <span class="content_param">Creator date</span>
            <span class="content_value">10/11/2016</span>
          </div>

          <div class="content_right_bottom_row">
            <span class="content_param">Type</span>
            <span class="content_value">Video</span>
          </div>

          <div class="content_right_bottom_row">
            <span class="content_param">Duration</span>
            <span class="content_value">-</span>
          </div>

          <div class="content_right_bottom_row">
            <span class="content_param">Moderation</span>
            <span class="content_value">Pending</span>
          </div>

          <div class="content_right_bottom_row">
            <span class="content_param">Plays</span>
            <span class="content_value">-</span>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>

</html>
