<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>

  <div class="wrapper">
    <div class="header">
      <div class="headerLeft">
        <span class="backBtn kIconarrow_backward"></span>
        <span class="kIconvideo"></span>
        <span class="title">Title</span>
      </div>
      <div class="headerRight">
        <button class="btnSave">Save</button>
        <button><span class="kIconarrow_backward"></span></button>
        <button><span class="kIconarrow_forward"></span></button>
      </div>
    </div>
    <div class="content">
      <div class="asideLeft">
        <div class="item active">
          <span>Metadata</span>
        </div>
        <div class="item">
          <span>Thumbnails</span>
        </div>
        <div class="item">
          <span>Access control</span>
        </div>
        <div class="item">
          <span>Flavors</span>
        </div>
        <div class="item">
          <span>Distribution</span>
        </div>
        <div class="item">
          <span>Captions</span>
        </div>
        <div class="item">
          <span>Advertisements</span>
        </div>
        <div class="item">
          <span>Related Files</span>
        </div>
        <div class="item">
          <span>Users</span>
        </div>
        <div class="item">
          <span>Trim videos</span>
        </div>
      </div>
      <div class="main">
        <div class="item">
          <div class="txt">ID</div>
          <div>12334</div>
        </div>
        <div class="item">
          <div class="txt">Name</div>
          <div><input type="text" class="inputTxt"></div>
        </div>
        <div class="item">
          <div class="txt">Description</div>
          <div><textarea rows="5"></textarea></div>
        </div>
        <div class="item">
          <div class="txt">Tags</div>
          <div><input type="text" class="inputTxt"></div>
        </div>
        <div class="item">
          <div class="txt">Categories</div>
          <div><input type="text" class="inputTxt"></div>
        </div>
        <div class="item">
          <div class="browse"><a href="">Browse category</a></div>
        </div>
        <div class="item">
          <div class="txt">Reference ID</div>
          <div><input type="text" class="inputTxt"></div>
        </div>
        <div class="item section">
          <div class="title">Parenatal Control</div>
        </div>
        <div class="item">
          <div class="txt">Rating</div>
          <div class="checkBoxItem">
            <label>
              <input type="checkbox" >R
            </label>
          </div>
          <div class="checkBoxItem">
            <label>
              <input type="checkbox" >PG
            </label>
          </div>
          <div class="checkBoxItem">
            <label>
              <input type="checkbox" >PG-13
            </label>
          </div>
          <div class="checkBoxItem">
            <label>
              <input type="checkbox">NC-17
            </label>
          </div>
        </div>
        <div class="item section">
          <div class="title">Entry Additional Info</div>
        </div>
        <div class="item">
          <div class="txt">Key</div>
          <div><input type="text" class="inputTxt"></div>
        </div>
      </div>
      <div class="asideRight">
        <div class="item">
          <div class="player">
            <div class="upload">
              <button><span class="kIconupload">Upload</span></button>
            </div>
          </div>
          <div class="player ">
            <div class="priview">
              <span class="kIconshare share"></span>
              <span> priview & Embed</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="itemDetails section">
            <div class="title">Details</div>
          </div>
          <div class="itemDetails">
            <div class="txt">Creator</div>
            <div>Patrick</div>
          </div>
          <div class="itemDetails">
            <div class="txt">Creation date</div>
            <div>10/11/2016</div>
          </div>
          <div class="itemDetails">
            <div class="txt">Type</div>
            <div>Video</div>
          </div>
          <div class="itemDetails">
            <div class="txt">Duration</div>
            <div>-</div>
          </div>
          <div class="itemDetails">
            <div class="txt">Moderation</div>
            <div>Pending</div>
          </div>
          <div class="itemDetails">
            <div class="txt">Plays</div>
            <div>-</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
