body {
  background: #F6F7F9;
  margin: 0;
  font-family: 'Lato'
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 70px;
  background: #F6F7F9;
  span {
    margin-right: 10px;
    font-size: 26px;
  }
  .title {
    font-weight: bold;
  }
  .backBtn {
    position: absolute;
    margin-left: -30px;
    font-size: 20px;
    cursor: pointer;
  }
}

.content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
}

.asideLeft,
.main {
  border-style: solid;
  border-color: #E5e5e5;
}

.asideLeft {
  flex: 0 0 180px;
  padding: 10px;
  .item {
    height: 36px;
    padding-left: 10px;
    span {
      line-height: 32px;
    }
  }
  .active {
    background-color: #f6f6f6;
    font-weight: bold;
  }
}

.asideRight {
  display: flex;
  flex-direction: column;
  flex: 0 0 220px;
  background: white;
  .section {
    padding-top: 50px;
  }
  .item {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #E5e5e5;
    .player {
      display: flex;
      flex-direction: column;
      .priview {
        padding: 10px;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        .share {
          padding: 5px;
          color: gray;
        }
      }
      .upload {
        display: flex;
        background-color: black;
        height: 250px;
        justify-content: center;
        align-items: center;
      }
      button {
        width: 120px;
        height: 32px;
      }
    }
    .itemDetails {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-top: 10px;
      .txt {
        width: 120px;
        color: grey;
      }
      .title {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 10px;
  margin-right: 2rem;
  .section {
    padding-top: 50px;
  }
  .item {
    display: flex;
    align-items: center; //flex: 0 0 auto;
    margin-top: 10px; // // // //TODO: remove
    // border-style: solid;    
    // border-color: #E5e5e5;
    .txt {
      width: 120px;
    }
    span {
      line-height: 32px;
    }
    .inputTxt {
      background-color: #eeeeee;
      width: 220px;
      height: 25px;
      border: 0px solid;
    }
    textarea {
      background-color: #eeeeee;
      width: 220px;
      border: 0px solid;
    }
    .browse {
      padding-left: 120px;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .checkBoxItem {
      display: flex;
      align-items: center;
      padding: 5px;
    }
  }
}

.headerLeft {
  display: flex;
  flex: 0 0 300px;
  align-items: center;
}

.headerRight {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  button {
    height: 32px;
    margin-left: 8px; //font-size: 16px;
  }
  .btnSave {
    width: 100px;
  }
}
