@import '../../../theme/_colors.scss';
@import '../../../theme/_mixins.scss';
:host {
  //flex: 1 1 100%;
  display: flex;  
  justify-content : center;
  align-content: center;
  margin: 20rem;    
}

.login {
  padding-left: 10px;
  border-style: solid;
  border-color:  $borderColor;
  @include roundness();
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  .item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .txt {
      width: 120px;
    }
  }

  .kError
  {
    margin:10px 0;
    color:red;
  }

   button {

  }
  .btnSave {
    width: 100px;
    height: 32px;
  }
}
