<form [formGroup]="loginForm">
  <div class="login">
    <div class="item">
      <div class="txt">Username</div>
      <div><input type="text" class="inputTxt" formControlName="userName"> </div>
    </div>
    <div class="item">
      <div class="txt">Password</div>
      <div><input type="password" class="inputTxt" formControlName="password"> </div>
    </div>
    <div class="item">
      <button class="btnSave" (click)="login()">Login</button>
    </div>
    <div *ngIf="isBusy">
      Please wait
    </div>
    <div class="kError">
      {{ errorMessage }}
    </div>
  </div>
</form>
