<form class="login_form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

  <div class="content_row">
    <span class="content_param">Username</span>
    <input class="content_value" formControlName="username" type="text" name="username">
  </div>

  <div class="content_row">
    <span class="content_param">Password</span>
    <input class="content_value" formControlName="password" type="password" name="password">
  </div>

  <div class="content_row">
    <span class="content_param"></span>
    <button type="submit">Login</button>
  </div>

</form>
