  @import "../../_variables.scss";
  @import "../../_mixins.scss";
   .login_form {
    display: flex;
    flex: 1 1 auto;
    width: 450px;
    flex-direction: column;
    padding: 15px 0;
    border-style: solid;
    border-width: 2px;
    border-color: $layout_borders_color;
    background: $white;
    .content_row {
      display: flex;
      align-items: center;
      margin: 10px 30px;
      .content_param {
        flex: 0 0 100px;
      }
      .content_param_headline {
        font-weight: bold;
        font-size: 18px;
      }
      .content_value {
        flex: 0 0 300px;
      }
    }
  }