<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <div class="wrapper">

    <!-- top -->
    <div class="header">

      <div class="header_left">
        <span class="kIconarrow_backward backBtn"></span>
        <span class="kIconvideo"></span>
        <span>Untitled</span>
      </div>

      <div class="header_right">
        <button class="save_button">Save</button>
        <button> <span class="kIconarrow_backward"></span></button>
        <button> <span class="kIconarrow_forward"></span></button>
      </div>

    </div>

    <!-- middle -->
    <div class="content">


      <button class="jumpto">Jump to<span class="kIcondropdown_arrow_bottom"></span></button>


      <!-- section  -->
      <sectionSelector>
      </sectionSelector>

      <!-- meta  -->
      <metaSelector>
      </metaSelector>

      <!-- preview  -->
      <previewSelector>
      </previewSelector>

    </div>

  </div>

</body>

</html>
