<div class="wrapper">
  <div class="header">
    <div class="headerLeft">
      <span class="backBtn kIconarrow_backward"></span>
      <span class="kIconvideo"></span>
      <span class="title">Title</span>
    </div>
    <div class="headerRight">
      <button class="btnSave">Save</button>
      <button><span class="kIconarrow_backward"></span></button>
      <button><span class="kIconarrow_forward"></span></button>
    </div>
  </div>
  <div class="content">
    <aside-left></aside-left>
    <center></center>
    <aside-right></aside-right>
  </div>
</div>
